<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <nb-card size="giant">
      <nb-tabset fullWidth>
        <nb-tab tabTitle="Contacts">
          <nb-list>
            <nb-list-item class="contact" *ngFor="let c of contacts">
              <nb-user [picture]="c.user.picture" [name]="c.user.name" [title]="c.type" size="large"></nb-user>
              <nb-icon icon="phone-outline" pack="eva"></nb-icon>
            </nb-list-item>
          </nb-list>
        </nb-tab>

        <nb-tab tabTitle="Recent">
          <nb-list>
            <nb-list-item class="contact" *ngFor="let c of recent">
              <nb-user [picture]="c.user.picture" [name]="c.user.name" [title]="c.type" size="large"></nb-user>
              <span class="caption">{{ c.time | date: 'shortTime' }}</span>
            </nb-list-item>
          </nb-list>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>

  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
    <nb-layout>
      <nb-layout-column>

        <!-- Progression des Phases DSDM -->
        <nb-card>
          <nb-card-header>Progression des Phases DSDM</nb-card-header>
          <nb-card-body>
            <div class="progress-section">
              <div echarts [options]="phaseChartOptions" class="echart"></div>
            </div>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>Sprints et Itérations</nb-card-header>
          <nb-card-body>
            <div class="count-section">
              <div echarts [options]="sprintChartOptions" class="echart"></div>
              <div echarts [options]="iterationChartOptions" class="echart"></div>
            </div>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>Work Progress</nb-card-header>
          <nb-card-body>
            <div class="progress">
              <div class="progress-bar progress-bar-striped" role="progressbar"
                   [ngStyle]="{'width': workProgress + '%', 'background-color': '#ffaf4d'}"
                   aria-valuenow="workProgress" aria-valuemin="0" aria-valuemax="100">
                {{ workProgress }}%
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </nb-layout-column>
    </nb-layout>
  </div>

</div>


