<nb-card>
  <nb-card-header>
    <nb-tabset fullWidth>
      <!-- Phase 1 -->
      <nb-tab tabTitle="PRÉ-PROJET">
        <div class="form-container" *ngIf="!dsdm">
          <form (ngSubmit)="addDsdm()" #dsdmForm="ngForm" class="dsdm-form">
            <h3>Objectif:</h3>
            <p class="description">
              L'objectif de cette phase est de bien prioriser le projet selon le
              contexte ; la priorisation se fera selon les autres projets en
              cours de réalisation et les objectifs business de l’entreprise.
            </p>

            <div class="form-group">
              <label for="context">Contexte</label>
              <span class="field-description">Décrivez le contexte du projet.</span>
              <input nbInput fullWidth id="priorisation" class="form-control" [(ngModel)]="newDsdm.context" name="context"
                placeholder="Contexte du projet" required />
            </div>

            <div class="form-group">
              <label for="priorisation">Priorisation et objectif business</label>
              <span class="field-description">Décrivez la priorisation et les objectifs business du
                projet.</span>
              <textarea nbInput fullWidth id="priorisation" name="priorisation" class="form-control" [(ngModel)]="newDsdm.priorisation"
                placeholder="Priorisation et objectif business" required></textarea>
            </div>

            <div class="form-group">
              <label for="status">Statut</label>
              <span class="field-description">Sélectionnez le statut actuel du projet.</span>
              <select nbInput fullWidth id="status" class="form-control" [(ngModel)]="newDsdm.status" name="status"
                required>
                <option value="Approved">
                  Approved: Approuvé pour passer à la phase de faisabilité.
                </option>
                <option value="Planned">
                  Planned: Planifié mais n'a pas encore commencé.
                </option>
                <option value="On Hold">
                  On Hold: En attente en raison de contraintes.
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="startDate">Date de début</label>
              <span class="field-description">Sélectionnez la date de début du projet.</span>
              <input nbInput type="date" fullWidth id="startDate" [(ngModel)]="newDsdm.startDate" name="startDate"
                required />
            </div>

            <div class="form-group">
              <label for="endDate">Date de fin</label>
              <span class="field-description">Sélectionnez la date de fin estimée du projet.</span>
              <input nbInput type="date" fullWidth id="endDate" [(ngModel)]="newDsdm.endDate" name="endDate" />
            </div>

            <button nbButton status="primary" type="submit" [disabled]="!dsdmForm.valid">
              Soumettre
            </button>
          </form>
        </div>

        <div class="form-container" *ngIf="dsdm">
          <nb-card-header>
            <h2>La première phase de pré-projet est bien enregistrée !</h2>
            <h6>Objectif:</h6>
            <p>
              L'objectif de cette phase est de bien prioriser le projet selon le
              contexte ; la priorisation se fera selon les autres projets en
              cours de réalisation et les objectifs business de l’entreprise.
            </p>
          </nb-card-header>
          <nb-card-body>
            <nb-list>
              <nb-list-item>
                <div class="dsdm-item">
                  <h4>Contexte:</h4>
                  <p>{{ dsdm.context }}</p>
                </div>
              </nb-list-item>
              <nb-list-item>
                <div class="dsdm-item">
                  <h4>Priorisation et objectif business:</h4>
                  <p>{{ dsdm.priorisation }}</p>
                </div>
              </nb-list-item>
              <nb-list-item>
                <div class="dsdm-item">
                  <h4>Statut:</h4>
                  <p [ngClass]="{
                      'status-approved': dsdm.status === 'Approved',
                      'status-planned': dsdm.status === 'Planned',
                      'status-on-hold': dsdm.status === 'On Hold'
                    }">
                    {{ dsdm.status }}
                  </p>
                </div>
              </nb-list-item>
              <nb-list-item>
                <div class="dsdm-item">
                  <h4>Date de début:</h4>
                  <p>{{ dsdm.startDate | date }}</p>
                </div>
              </nb-list-item>
              <nb-list-item>
                <div class="dsdm-item">
                  <h4>Date de fin:</h4>
                  <p>{{ dsdm.endDate | date }}</p>
                </div>
              </nb-list-item>
            </nb-list>
            <div class="edit-button-container">
              <button nbButton status="info" (click)="editDsdm()">
                <nb-icon icon="edit-outline"></nb-icon> Éditer
              </button>
            </div>
          </nb-card-body>
        </div>
      </nb-tab>
      <!-- Phase 2 -->
      <nb-tab tabTitle="FAISABILITÉ">
        <div class="form-container" *ngIf="!feasibility">
          <form (ngSubmit)="addFeasibility()" #feasibilityForm="ngForm" class="feasibility-form">
            <h3>Objectif :</h3>
            <p class="description">
              Décider si le projet est viable techniquement et commercialement.
            </p>

            <div class="form-group">
              <label for="technicalFeasibility">Analyse de Faisabilité Technique</label>
              <span class="field-description">Décrivez les technologies envisagées et leur viabilité.</span>
              <textarea nbInput fullWidth id="technicalFeasibility" name="technicalFeasibility" class="form-control"
                [(ngModel)]="newFeasibility.technicalFeasibility"
                placeholder="Technologies envisagées (React Native, Angular, Node.js, MongoDB) et leur maîtrise par l'équipe"
                required></textarea>
            </div>

            <div class="form-group">
              <label for="commercialFeasibility">Analyse de Faisabilité Commerciale</label>
              <span class="field-description">Analyse des coûts et des revenus potentiels.</span>
              <textarea nbInput fullWidth id="commercialFeasibility" name="commercialFeasibility" class="form-control"
                [(ngModel)]="newFeasibility.commercialFeasibility"
                placeholder="Coûts (développement, infrastructure) et revenus potentiels, ROI attendu dans les 18 mois"
                required></textarea>
            </div>

            <div class="form-group">
              <label for="mvp">MVP</label>
              <span class="field-description">Décrivez les fonctionnalités essentielles du MVP.</span>
              <textarea nbInput fullWidth id="mvp" name="mvp" class="form-control" [(ngModel)]="newFeasibility.mvp"
                placeholder="Recherche de restaurants, consultation des menus, avis clients, réservation"
                required></textarea>
            </div>

            <div class="form-group">
              <label for="releaseBoard">Release Board</label>
              <span class="field-description">Planification des versions avec des dates clés.</span>
              <textarea nbInput fullWidth id="releaseBoard" name="releaseBoard" class="form-control"
                [(ngModel)]="newFeasibility.releaseBoard"
                placeholder="Planification des versions en fonction des impératifs business" required></textarea>
            </div>

            <div class="form-group">
              <label for="viability">Viabilité du Projet</label>
              <span class="field-description">Justifiez les coûts par rapport aux besoins.</span>
              <textarea nbInput fullWidth id="viability" name="viability" class="form-control"
                [(ngModel)]="newFeasibility.viability"
                placeholder="Justification des coûts par rapport aux bénéfices attendus" required></textarea>
            </div>

            <button nbButton status="primary" type="submit" [disabled]="!feasibilityForm.valid">
              Soumettre
            </button>
          </form>
        </div>

        <div class="form-container" *ngIf="feasibility">
          <nb-card-header>
            <h2>La phase de faisabilité est bien enregistrée !</h2>
            <h6>Objectif:</h6>
            <p>
              Décider si le projet est viable techniquement et commercialement.
            </p>
          </nb-card-header>
          <nb-card-body>
            <nb-list>
              <nb-list-item>
                <div class="feasibility-item">
                  <h4>Analyse de Faisabilité Technique:</h4>
                  <p>{{ feasibility.technicalFeasibility }}</p>
                </div>
              </nb-list-item>
              <nb-list-item>
                <div class="feasibility-item">
                  <h4>Analyse de Faisabilité Commerciale:</h4>
                  <p>{{ feasibility.commercialFeasibility }}</p>
                </div>
              </nb-list-item>
              <nb-list-item>
                <div class="feasibility-item">
                  <h4>MVP:</h4>
                  <p>{{ feasibility.mvp }}</p>
                </div>
              </nb-list-item>
              <nb-list-item>
                <div class="feasibility-item">
                  <h4>Release Board:</h4>
                  <p>{{ feasibility.releaseBoard }}</p>
                </div>
              </nb-list-item>
              <nb-list-item>
                <div class="feasibility-item">
                  <h4>Viabilité du Projet:</h4>
                  <p>{{ feasibility.viability }}</p>
                </div>
              </nb-list-item>
            </nb-list>
            <div class="edit-button-container">
              <button nbButton status="info" (click)="editFeasibility()">
                <nb-icon icon="edit-outline"></nb-icon> Éditer
              </button>
            </div>
          </nb-card-body>
        </div>
      </nb-tab>
<!-- Phase 3 -->
<nb-tab tabTitle="FONDATIONS">
  <div class="form-container" *ngIf="!foundations">
    <form (ngSubmit)="addFoundations()" #foundationsForm="ngForm" class="foundations-form">
      <h3>Objectif :</h3>
      <p class="description">Établir une base solide et durable de la compréhension du projet.</p>


      <div class="form-group">
        <label for="projectVision">Vision du Projet</label>
        <span class="field-description">Décrivez la vision globale du projet et les objectifs principaux.</span>
        <textarea nbInput fullWidth id="projectVision" name="projectVision" class="form-control" [(ngModel)]="newFoundations.projectVision" placeholder="Ex : 'RestoBook' permet aux utilisateurs de rechercher des restaurants, consulter des menus, lire des avis et faire des réservations en ligne" required></textarea>
      </div>


      <div class="form-group">
        <label for="userNeeds">Besoins des Utilisateurs</label>
        <span class="field-description">Liste des besoins fonctionnels et non fonctionnels.</span>
        <textarea nbInput fullWidth id="userNeeds" name="userNeeds" class="form-control" [(ngModel)]="newFoundations.userNeeds" placeholder="Fonctionnels : Recherche, consultation des menus, avis, réservation. Non fonctionnels : Sécurité, haute disponibilité, performance" required></textarea>
      </div>


      <div class="form-group">
        <label for="projectCharter">Documents de Fondation - Charte de Projet</label>
        <span class="field-description">Décrivez les objectifs, le scope, les parties prenantes et les critères de succès.</span>
        <textarea nbInput fullWidth id="projectCharter" name="projectCharter" class="form-control" [(ngModel)]="newFoundations.projectCharter" placeholder="Objectifs, scope, parties prenantes, critères de succès" required></textarea>
      </div>


      <div class="form-group">
        <label for="requirements">Documents de Fondation - Exigences Détaillées</label>
        <span class="field-description">Liste complète des fonctionnalités et exigences non fonctionnelles.</span>
        <textarea nbInput fullWidth id="requirements" name="requirements" class="form-control" [(ngModel)]="newFoundations.requirements" placeholder="Liste complète des fonctionnalités et exigences non fonctionnelles" required></textarea>
      </div>


      <button nbButton status="primary" type="submit" [disabled]="!foundationsForm.valid">Soumettre</button>
    </form>
  </div>


  <div class="form-container" *ngIf="foundations">
    <nb-card-header>
      <h2>La phase de fondations est bien enregistrée !</h2>
      <h6>Objectif: </h6>
      <p>Établir une base solide et durable de la compréhension du projet.</p>
    </nb-card-header>
    <nb-card-body>
      <nb-list>
        <nb-list-item>
          <div class="foundations-item">
            <h4>Vision du Projet:</h4>
            <p>{{ foundations.projectVision }}</p>
          </div>
        </nb-list-item>
        <nb-list-item>
          <div class="foundations-item">
            <h4>Besoins des Utilisateurs:</h4>
            <p>{{ foundations.userNeeds }}</p>
          </div>
        </nb-list-item>
        <nb-list-item>
          <div class="foundations-item">
            <h4>Charte de Projet:</h4>
            <p>{{ foundations.projectCharter }}</p>
          </div>
        </nb-list-item>
        <nb-list-item>
          <div class="foundations-item">
            <h4>Exigences Détaillées:</h4>
            <p>{{ foundations.requirements }}</p>
          </div>
        </nb-list-item>
      </nb-list>
      <div class="edit-button-container">
        <button nbButton status="info" (click)="editFoundations()"> <nb-icon icon="edit-outline"></nb-icon> Éditer</button>
      </div>
    </nb-card-body>
  </div>
</nb-tab>

<!-- Phase 4 -->
<nb-tab tabTitle="DÉVELOPPEMENT">
  <nb-card>
    <nb-card-header>
      <nb-tabset fullWidth>
        <nb-tab tabTitle="PHASE 4 of DSDM">
          <div class="form-container">
            <form (ngSubmit)="addSprint()" #sprintForm="ngForm" class="sprint-form">
              <h3>Ajouter un Sprint</h3>
              <div class="form-group">
                <label for="sprintName">Nom du Sprint</label>
                <input nbInput fullWidth id="sprintName" class="form-control" [(ngModel)]="newSprint.name" name="sprintName" required />
              </div>
              <button nbButton status="primary" type="submit" [disabled]="!sprintForm.valid">Ajouter Sprint</button>
            </form>
          </div>

          <div class="form-container" *ngIf="sprints.length > 0">
            <nb-card-header>
              <h2>Liste des Sprints</h2>
            </nb-card-header>
            <nb-card-body>
              <nb-accordion>
                <nb-accordion-item *ngFor="let sprint of sprints">
                  <nb-accordion-item-header>
                    {{ sprint.name }}
                  </nb-accordion-item-header>
                  <nb-accordion-item-body>
                    <form (ngSubmit)="addIteration(sprint)" #iterationForm="ngForm" class="iteration-form">
                      <h4>Ajouter une Itération à {{ sprint.name }}</h4>
                      <div class="form-group">
                        <label for="feature">Feature</label>
                        <input nbInput fullWidth id="feature" class="form-control" [(ngModel)]="newIteration.feature" name="feature" required />
                      </div>
                      <div class="form-group">
                        <label for="deliverables">Deliverables</label>
                        <textarea nbInput fullWidth id="deliverables" name="deliverables" class="form-control" [(ngModel)]="newIteration.deliverables" required></textarea>
                      </div>
                      <button nbButton status="primary" type="submit" [disabled]="!iterationForm.valid">Ajouter Itération</button>
                    </form>

                    <div class="iteration-list" *ngIf="sprint.iterations && sprint.iterations.length > 0">
                      <h4>Liste des Itérations</h4>
                      <nb-list>
                        <nb-list-item *ngFor="let iter of sprint.iterations">
                          <div class="iteration-item">
                            <p><strong>Feature:</strong> {{ iter.feature }}</p>
                            <p><strong>Deliverables:</strong> {{ iter.deliverables }}</p>
                            <button nbButton status="info" (click)="editIteration(sprint, iter)"> <nb-icon icon="edit-outline"></nb-icon> Éditer</button>
                          </div>
                        </nb-list-item>
                      </nb-list>
                    </div>
                  </nb-accordion-item-body>
                </nb-accordion-item>
              </nb-accordion>
            </nb-card-body>
          </div>
        </nb-tab>
      </nb-tabset>
    </nb-card-header>
  </nb-card>
</nb-tab>



<!-- Phase 5 -->
<nb-tab tabTitle="DÉPLOIEMENT">
  <nb-card>
    <nb-card-header>
      <nb-tabset fullWidth>
        <nb-tab tabTitle="PHASE 5 of DSDM">
          <div class="form-container">
            <form (ngSubmit)="addDeploymentPlan()" #deploymentPlanForm="ngForm" class="deployment-form">
              <h3>Plan de Déploiement</h3>
              <div class="form-group">
                <label for="environment">Environnement de Production</label>
                <input nbInput fullWidth id="environment" class="form-control" [(ngModel)]="newDeploymentPlan.environment" name="environment" required />
              </div>
              <div class="form-group">
                <label for="dataMigration">Migration des Données</label>
                <textarea nbInput fullWidth id="dataMigration" name="dataMigration" class="form-control" [(ngModel)]="newDeploymentPlan.dataMigration" required></textarea>
              </div>
              <div class="form-group">
                <label for="preProdTests">Tests de Pré-production</label>
                <textarea nbInput fullWidth id="preProdTests" name="preProdTests" class="form-control" [(ngModel)]="newDeploymentPlan.preProdTests" required></textarea>
              </div>
              <button nbButton status="primary" type="submit" [disabled]="!deploymentPlanForm.valid">Ajouter Plan de Déploiement</button>
            </form>
          </div>


          <div class="form-container" *ngIf="deploymentPlans.length > 0">
            <nb-card-header>
              <h2>Liste des Plans de Déploiement</h2>
            </nb-card-header>
            <nb-card-body>
              <nb-accordion>
                <nb-accordion-item *ngFor="let plan of deploymentPlans">
                  <nb-accordion-item-header>
                    {{ plan.environment }}
                  </nb-accordion-item-header>
                  <nb-accordion-item-body>
                    <div class="plan-details">
                      <p><strong>Migration des Données:</strong> {{ plan.dataMigration }}</p>
                      <p><strong>Tests de Pré-production:</strong> {{ plan.preProdTests }}</p>
                    </div>
                    <form (ngSubmit)="addRelease(plan)" #releaseForm="ngForm" class="release-form">
                      <h4>Ajouter une Release pour {{ plan.environment }}</h4>
                      <div class="form-group">
                        <label for="releaseName">Nom de la Release</label>
                        <input nbInput fullWidth id="releaseName" class="form-control" [(ngModel)]="newRelease.name" name="releaseName" required />
                      </div>
                      <div class="form-group">
                        <label for="releaseDetails">Détails de la Release</label>
                        <textarea nbInput fullWidth id="releaseDetails" name="releaseDetails" class="form-control" [(ngModel)]="newRelease.details" required></textarea>
                      </div>
                      <button nbButton status="primary" type="submit" [disabled]="!releaseForm.valid">Ajouter Release</button>
                    </form>


                    <div class="release-list" *ngIf="plan.releases.length > 0">
                      <h4>Liste des Releases</h4>
                      <nb-list>
                        <nb-list-item *ngFor="let release of plan.releases">
                          <div class="release-item">
                            <p><strong>Nom:</strong> {{ release.name }}</p>
                            <p><strong>Détails:</strong> {{ release.details }}</p>
                            <button nbButton status="info" (click)="editRelease(plan, release)"> <nb-icon icon="edit-outline"></nb-icon> Éditer</button>
                          </div>
                        </nb-list-item>
                      </nb-list>
                    </div>
                  </nb-accordion-item-body>
                </nb-accordion-item>
              </nb-accordion>
            </nb-card-body>
          </div>
        </nb-tab>
      </nb-tabset>
    </nb-card-header>
  </nb-card>


</nb-tab>

<!-- Phase 6 -->
<nb-tab tabTitle="POST-PROJET">
  <nb-card>
    <nb-card-header>
      <h2>Phase de Post-projet</h2>
      <p>Objectif : Mesurer les performances business du produit et s'assurer qu'il atteint les résultats attendus.</p>
    </nb-card-header>
    <nb-card-body>
      <!-- Évaluation des Performances -->
      <nb-tabset fullWidth>
        <nb-tab tabTitle="Évaluation des Performances">
          <form (ngSubmit)="addKpi()" #kpiForm="ngForm" class="kpi-form">
            <h4>Indicateurs Clés de Performance (KPI)</h4>
            <div class="form-group">
              <label for="kpiName">Nom du KPI</label>
              <input nbInput fullWidth id="kpiName" class="form-control" [(ngModel)]="newKpi.name" name="kpiName" required />
            </div>
            <div class="form-group">
              <label for="kpiValue">Valeur du KPI</label>
              <input nbInput fullWidth id="kpiValue" class="form-control" [(ngModel)]="newKpi.value" name="kpiValue" required />
            </div>
            <button nbButton status="primary" type="submit" [disabled]="!kpiForm.valid">Ajouter KPI</button>
          </form>
          <div *ngIf="kpis.length">
            <h4>Liste des KPI</h4>
            <nb-list>
              <nb-list-item *ngFor="let kpi of kpis">
                <div class="kpi-item">
                  <h5>{{ kpi.name }}</h5>
                  <p>Valeur : {{ kpi.value }}</p>
                </div>
              </nb-list-item>
            </nb-list>
          </div>
        </nb-tab>


        <!-- Rapports de Performance -->
        <nb-tab tabTitle="Rapports de Performance">
          <form (ngSubmit)="addReport()" #reportForm="ngForm" class="report-form">
            <h4>Rapports de Performance</h4>
            <div class="form-group">
              <label for="reportTitle">Titre du Rapport</label>
              <input nbInput fullWidth id="reportTitle" class="form-control" [(ngModel)]="newReport.title" name="reportTitle" required />
            </div>
            <div class="form-group">
              <label for="reportContent">Contenu du Rapport</label>
              <textarea nbInput fullWidth id="reportContent" class="form-control" [(ngModel)]="newReport.content" name="reportContent" required></textarea>
            </div>
            <button nbButton status="primary" type="submit" [disabled]="!reportForm.valid">Ajouter Rapport</button>
          </form>
          <div *ngIf="reports.length">
            <h4>Liste des Rapports</h4>
            <nb-list>
              <nb-list-item *ngFor="let report of reports">
                <div class="report-item">
                  <h5>{{ report.title }}</h5>
                  <p>{{ report.content }}</p>
                </div>
              </nb-list-item>
            </nb-list>
          </div>
        </nb-tab>


        <!-- Feedback et Améliorations -->
        <nb-tab tabTitle="Feedback et Améliorations">
          <form (ngSubmit)="addFeedback()" #feedbackForm="ngForm" class="feedback-form">
            <h4>Collecte des Feedbacks Utilisateurs</h4>
            <div class="form-group">
              <label for="feedbackContent">Feedback Utilisateur</label>
              <textarea nbInput fullWidth id="feedbackContent" class="form-control" [(ngModel)]="newFeedback.content" name="feedbackContent" required></textarea>
            </div>
            <button nbButton status="primary" type="submit" [disabled]="!feedbackForm.valid">Ajouter Feedback</button>
          </form>
          <div *ngIf="feedbacks.length">
            <h4>Liste des Feedbacks</h4>
            <nb-list>
              <nb-list-item *ngFor="let feedback of feedbacks">
                <div class="feedback-item">
                  <p>{{ feedback.content }}</p>
                </div>
              </nb-list-item>
            </nb-list>
          </div>
          <form (ngSubmit)="addImprovementPlan()" #improvementPlanForm="ngForm" class="improvement-plan-form">
            <h4>Plan d'Amélioration Continue</h4>
            <div class="form-group">
              <label for="improvementPlanContent">Contenu du Plan d'Amélioration</label>
              <textarea nbInput fullWidth id="improvementPlanContent" class="form-control" [(ngModel)]="newImprovementPlan.content" name="improvementPlanContent" required></textarea>
            </div>
            <button nbButton status="primary" type="submit" [disabled]="!improvementPlanForm.valid">Ajouter Plan d'Amélioration</button>
          </form>
          <div *ngIf="improvementPlans.length">
            <h4>Liste des Plans d'Amélioration</h4>
            <nb-list>
              <nb-list-item *ngFor="let plan of improvementPlans">
                <div class="improvement-plan-item">
                  <p>{{ plan.content }}</p>
                </div>
              </nb-list-item>
            </nb-list>
          </div>
        </nb-tab>
      </nb-tabset>
    </nb-card-body>
  </nb-card>


</nb-tab>



    </nb-tabset>
  </nb-card-header>
</nb-card>
