<div *ngIf="hasAdvantage && !isAdding && isSubmitted; else showForm" class="advantage-section">
  <div class="advantage-card">
    <h2>{{ advantage.titre }}</h2>
    <p>{{ advantage.desc }}</p>
    <div class="image-container" *ngIf="imageUrl">
      <img [src]="imageUrl" alt="Advantage Image" class="advantage-image" />
    </div>
    <div class="button-group">
      <button nbButton ghost (click)="onEdit()" class="edit-button">
        <nb-icon icon="edit-outline"></nb-icon>
      </button>
    </div>
  </div>
</div>

<ng-template #showForm>
  <div *ngIf="hasAdvantage || isAdding; else addForm" class="form-section">
    <div class="advantage-card">
      <h2>{{ editMode ? 'Edit Advantage' : 'Add Advantage' }}</h2>
      <form [formGroup]="advantageForm" class="advantage-form">
        <div class="form-group">
          <label for="titre">Title</label>
          <input type="text" nbInput fullWidth placeholder="Title" formControlName="titre" required>
          <div *ngIf="advantageForm.get('titre')?.invalid && (advantageForm.get('titre')?.dirty || advantageForm.get('titre')?.touched)" class="error-message">
            <span *ngIf="advantageForm.get('titre')?.errors?.required" class="error-text">*Le titre est requis.</span>
          </div>
        </div>

        <div class="form-group">
          <label for="desc">Description</label>
          <textarea nbInput fullWidth shape="round" placeholder="Description" formControlName="desc" required></textarea>
          <div *ngIf="advantageForm.get('desc')?.invalid && (advantageForm.get('desc')?.dirty || advantageForm.get('desc')?.touched)" class="error-message">
            <span *ngIf="advantageForm.get('desc')?.errors?.required" class="error-text">*La description est requise.</span>
          </div>
        </div>

        <div class="upload-section">
          <button nbButton ghost status="primary" size="large" (click)="fileInput.click()">
            <nb-icon icon="cloud-upload-outline"></nb-icon>
          </button>
          <input #fileInput type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none;">
        </div>

        <div *ngIf="selectedImageURL" class="image-preview">
          <div class="image-container">
            <img [src]="selectedImageURL" alt="Image sélectionnée" class="preview-image">
            <button nbButton ghost status="danger" class="delete-button" (click)="removeImage()">
              <nb-icon icon="close-outline"></nb-icon>
            </button>
          </div>
        </div>

        <div class="submit-section">
          <button nbButton ghost status="success" size="large" [disabled]="!advantageForm.valid" (click)="onSubmit()">
            <nb-icon icon="checkmark-outline"></nb-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <ng-template #addForm>
    <button nbButton ghost status="primary" (click)="onAddAdvantage()">
      <nb-icon icon="plus-outline"></nb-icon>
    </button>
  </ng-template>
</ng-template>
